.nav {
    position: absolute;
    top: 2%;
    right: 2%;
    list-style-type: none;
}
li {
    display: inline;
    padding: 1rem 2rem;
    
}
a {
    text-decoration: none;
    color: rgb(23, 51, 59);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    background-color: lightgray;
    border-radius: 1rem;
    padding: 1rem;
    
}
a:hover {
    opacity: 0.9;
    color: white;
    background-color: rgb(16, 41, 56);
    
}

.img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
}